<div class="row">


  <div class="col">

    <div class="chat rooms">
      <div class="window-title">
        CHAT ROOMS
      </div>
      <div class="clear"></div>
      <div class="chat-row">
        <h5><a class="new-room" href="/create">Create New Room</a></h5>
        <p>Start a New Chat Room</p>
        <hr>
      </div>
      <div class="chat-row">
        <h5>{{ @key }}</h5>
        <p>{{ this }} Members</p>
        <hr>
      </div>
    </div>
  </div>
  {{#if roomName }}
    <div class="col">

      <div class="chat room">
        <div class="window-title">
          {{ roomName }}
        </div>
        <div class="clear"></div>
        {{#each roomMessages}}
          <div class="chat-row">
            <h5 id="output-author">{{ this.author }}</h5>
            <p id="output-msg">{{ this.body }}</p>
            <hr>
          </div>
        {{/each}}

      </div>
    </div>

  <div class="col">

    <div class="chat window">
      <div class="window-title">
        NEW POST
      </div>
      <div class="clear"></div>
      <div class="message-window">
        <form action="/{{ roomId }}" method="post">
          <div class="form-group">
            <textarea name="body" rows="8" class="form-control" placeholder="..."></textarea>
            <input type="text" name="roomId" value={{ roomId }} hidden>
          </div>
          <button type="submit" name="button" class="btn btn-success" method="post">Send</button>
        </form>

      </div>
    </div>

  </div>
  {{else}}
    <div class="chat login">
      <div class="window-title">
        NEW CHAT ROOM
      </div>
      <div class="clear"></div>

      <div class="message-window">
        <form action="/create" method="post">
          <div class="form-group">
            <label class="sr-only" for="roomname">Room Name</label>
            <input name="roomName" id="roomname" class="form-control" placeholder="...">
            <!-- <input type="text" name="userName" value={{ userName }} hidden> -->
          </div>
          <button type="submit" name="button" class="btn btn-success" method="post">Save</button>
        </form>
      </div>
  {{/if}}

</div>
