

<div class="row">

  <div class="col-xs-3">
    <a href="/newroom">Create a New Room</a>
    <!-- <a href="{{rooms.roomname}}"></a> -->

    {{#each roomsArr as |room|}}

      Rooms:
      <a href="/room/{{room.name}}">{{room.name}}</a>

    {{/each}}

  </div>
  <div class="col-xs-3 messages">
    <div>
      {{#each messagesArr as |message|}}
      Text:
      {{message.body}}
      Username:
      {{message.username}}
      <br>
      <br>
      {{/each}}
    </div>
  </div>

<div class="col-xs-3 new-post">
  <form action="/update" method="post">
    <label for="newPost">NEW POST</label><br>
    <textarea name="newPost" ></textarea><br>
    <button class="btn btn-primary">Send</button>
  </form>
</div>




</div>