{{#if data.userName}}

  <h1>Welcome {{data.userName}}</h1>
{{else}}
  <h1>Welcome Anonymous</h1>
{{/if}}

<form id='login-form'>
  <div class='form-group'>
    <label>Login</label>
      <input type='text' class='form-control' placeholder='User Name'>
  </div>
      <button id='login' class='btn btn-success' type='button'>Submit</button>
</form>

<form id='create-form'>
  <div class='form-group'>
    <label>Create New Room</label>
      <input type='text' class='form-control' placeholder='Chatroom Name'>
  </div>
      <button id='create' class='btn btn-success' type='button'>Create</button>
</form>

{{#each data as |room|}}
  <div id={{room}}>
    <h1>{{room}}</h1>
      {{#each room as |post|}}
        <p>{{post}}</p>
          <p>posted by <strong>{{@key}}</strong></p>
      {{/each}}
  </div>
{{/each}}


