<body>
<div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="bordered">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Cats</h3>
            </div>
              <div class="panel-body">
                {{#each messageList as |message|}}
                  <h4>{{message.username}}</h4>
                  <p>{{message.messageBody}}</p>
                  <hr>
                {{/each}}
                <hr>
              </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3" id="bordered">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cats</h3>
                </div>
                  <div class="panel-body">
                    <form method="post">
                        <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
                          <input type="text" class="form-control" id="" name="message" placeholder="Chat here">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

  <!-- <table>
    <th>Original URL</th>
    <th>Created</th>
    <th>Short URL</th>
    <th>All clicks</th>
    {{#each allKeys as |key|}}
    <tr>
      <td>
        <a href='http://www.{{key.url}}'>{{key.url}}</a>
      </td>
      <td>
        <p>{{key.creationTime}}</p>
      </td>
      <td>
        <a href='/{{uniqueID}}'>http://{{uniqueID}}</a>
      </td>
      <td>
          <p id="{{uniqueID}}">{{key.count}}</p>
      </td>
    </tr>
    {{/each}}
  </table> -->
</body>

<script>
var socket = io.connect('http://localhost:3000');

socket.on('new message', function(count, uniqueID) {
  $('#' + uniqueID).html(count);
});

</script>
</html>
