<script src="https://use.fontawesome.com/45e03a14ce.js"></script>

<div class="main_section">
  <div class="container">
  <div id="header-bar">
    <h1 id="header-text">SuperChat</h1>
    <div id="user_options_header">
      <span id="username_header">{{username}}</span>
      <a href="/signout" id="sign_out">Sign Out</a>
    </div>
  </div>
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
      <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" id="newRoom" class="search-query form-control"/>
                  <button class="btn btn-danger" type="button" id="addRoom">
                  New Room
                  </button>
               </div>
            </div>
            <div class="member_list">
               <ul class="list-unstyled" id="rooms">
                {{#each roomNames as |roomName|}}
                  <li class="left clearfix">
                     <div class="chat-body clearfix roomName">
                        <div class="header_sec">
                          <!-- Rooms will go in here -->
                           <strong class="primary-font roomText">{{roomName}}</strong>
                        </div>
                     </div>
                  </li>
                  {{/each}}
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->

         <div class="col-sm-9 message_section">
     <div class="row">
      <div class="new_message_head">
        <div id="room_name_prompt">You are in the room: <span id="currentRoom">Cats</span></div>
     <div class="pull-left" id="user_prompt"> Logged in as: <span id="username" >{{username}}</span></div>
     </div><!--new_message_head-->
     <div class="chat_area">
     <ul class="list-unstyled messages">

        {{#each messages as |message|}}
        <li class="left clearfix">
           <span class="chat-img1 pull-left">
           <h6>{{message.username}}</h6>
           </span>
           <div class="chat-body1 clearfix">
              <p>{{message.body}}</p>
           </div>
      </li>
      {{/each}}
     </ul>
     </div><!--chat_area-->

    <div class="message_write">
       <textarea class="form-control" placeholder="type a message" id="newPost"></textarea>
     <div class="clearfix"></div>
     <div class="chat_bottom">
 <a href="#" class="pull-right btn btn-success" id="sendPost">
 Send</a></div>
     </div>
     </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>



<!--  -->

<script type="text/javascript">
  var socket = io.connect('https://salty-sea-90816.herokuapp.com/');

  socket.on('new post', (data) => {
    let newPost = data[0];
    let username = data[1];
    let room = data[2];
    if ($("#currentRoom").text() === room) {
      $(".messages").append(`<li class="left clearfix">
           <span class="chat-img1 pull-left">
           <h6>${username}</h6>
           </span>
           <div class="chat-body1 clearfix">
              <p>${newPost}</p>
           </div>
      </li>`);
    }
  });

  socket.on('new room', (newRoom) => {
    $("#rooms").prepend(`<li class="left clearfix">
                     <div class="chat-body clearfix">
                        <div class="header_sec roomName">
                           <strong class="primary-font roomText">${newRoom}</strong>
                        </div>
                     </div>
                  </li>`)
  });

  socket.on('change room messages', (messages) => {
    $(".messages").empty();
    messages.forEach(message => {
      $(".messages").prepend(`<li class="left clearfix">
           <span class="chat-img1 pull-left">
           <h6>${message.username}</h6>
           </span>
           <div class="chat-body1 clearfix">
              <p>${message.body}</p>
           </div>
      </li>`)
    })
  })

  $("#sendPost").click(() => {
    let newPost = $("#newPost").val();
    let username = $("#username").text();
    let room = $("#currentRoom").text();
    $("#newPost").val("");
    socket.emit('send post', newPost, username, room);
  });

  $("#addRoom").click(() => {
    console.log("CONNECTED");
    let newRoom = $("#newRoom").val();
    $("#newRoom").val("");
    if (newRoom.length) {
      socket.emit('add room', newRoom);
    }
  })

  $("ul#rooms").on("click", ".roomName", (event) => {
    console.log($(event.target))
    let roomName = $(event.target).find('.roomText').text();
    // if text is clicked, set roomName to text element
    if (!roomName) {
      roomName = $(event.target).text();
    }
    $("#currentRoom").text(roomName);
    socket.emit('change room', roomName);
  })



</script>