
<body>

<h3 id="userNav" style="color: black">Not signed in</h3>
<button type="submit" id="userLogOut" class="btn btn-default hidden">Sign Out</button>

<!-- Sign in -->
<div class="container" id="signUpContainer">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="bordered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
              <input type="text" class="form-control" id="newUser" name="username" placeholder="Enter username">
            </div>
            <button type="submit" id="userSubmit" class="btn btn-default">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of Rooms -->
<div class="container verifiedUser hidden">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="bordered">
      <div class="panel panel-default" id="overflowEnabled">
        <div class="panel-heading">
          <h3 class="panel-title">List of Chat Rooms</h3>
        </div>
        <div class="panel-body" id="listOfRooms">
          <h4>Create a new chat room</h4>
          <div class="form-group">
            <input type="text" class="form-control" id="createNewChat" name="newRoomName" placeholder="Enter name for new room">
          </div>
          <button type="submit" id="newChatRoomSubmit" class="btn btn-default">Create</button>
          <hr>
          {{#each roomList as |room|}}
            <h4 id="room_{{room}}" class="rooms">{{room}}<h4>
            <hr>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Chat Rooms -->
{{#each roomList as |room|}}
<div id="{{room}}panel" class="container roomContainer hidden">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="bordered">
          <div class="panel panel-default" id="overflowEnabled">
            <div class="panel-heading">
              <h3 class="panel-title">{{room}}</h3>
            </div>
              <div class="panel-body" id="{{roomName}}">
                <!-- {{#each messageList as |message|}}
                  <h4>{{message.username}}</h4>
                  <p>{{message.messageBody}}</p>
                  <hr>
                {{/each}} -->
              </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

<!-- Posting Form -->
    <div class="container verifiedUser hidden">
          <div class="row">
            <div class="col-xs-6 col-md-3" id="bordered">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Post a message from here</h3>
                </div>
                  <div class="panel-body">
                        <div class="form-group">
                          <input type="text" class="form-control" id="chatMessage" name="message" placeholder="Chat here">
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-default">Submit</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

</body>

<script>

$(document).ready(function() {
  var socket = io.connect('http://localhost:3000');

  /////////////////////////
  // Listen Events

  socket.on('newMessage', function(message, user, room) {
    $(`#${room}`).append(`<h4>${user}</h4><p>${message}</p><hr>`);
  })

  socket.on('userAccepted', function(username) {
    $("#userNav").html(username);
    $("#userLogOut").toggleClass('hidden');
    $("#signUpContainer").toggleClass('hidden');
    $(".verifiedUser").toggleClass('hidden');
  })

  socket.on('userDenied', function(username) {
    $("#userNav").html(username+ " is already taken.");
  })

  socket.on('createdNewRoom', function(roomname) {
    $("#listOfRooms").append(`<h4 id="room_${roomname}" class="rooms">${roomname}</h4><hr>`);
  })

  //////////////////////
  // Click Events
  // instead of .rooms, we want to look for its parent object
  $(".rooms").click(function(event) {
    let selectedRoom = event.target;
    let nameOfRoom = $(selectedRoom).html();
    let namePanel = "#" + nameOfRoom + "panel";
    $(`${namePanel}`).toggleClass('hidden');
    socket.emit('launchChatRoom', nameOfRoom);
  })

  $("#submitBtn").click(function() {
    let newMessage = $("#chatMessage").val();
    let room = $(".roomContainer").not(".hidden").find(".panel-title").html();
    $("#chatMessage").val("");
    socket.emit('postMessage', newMessage, room);
  })

  $("#userLogOut").click(function() {
    var currentUser = $("#userNav").html();
    $("#userNav").html("Not signed in.");
    $("#userLogOut").toggleClass('hidden');
    $("#signUpContainer").toggleClass('hidden');
    $(".verifiedUser").toggleClass('hidden');
    socket.emit('userLoggedOut', currentUser);
  })

  $("#userSubmit").click(function() {
    let newUser = $("#newUser").val();
    console.log(newUser);
    $("#newUser").val("");
    socket.emit('signUp', newUser);
  })

  $("#newChatRoomSubmit").click(function() {
    let newRoomName = $("#createNewChat").val();
    $("#createNewChat").val("");
    socket.emit('createNewRoom', newRoomName);
  })
});


</script>
</html>
