<div class="container-fluid box">
  <div class="row">
    <h2 class="title" id="{{username}}">SUEPERCHAT // welcome "{{username}}"</h2>
    <h1 id="room">{{room}}</h1>
  </div>
</div>

<form class="logout" action="/logout" method="post">
  <button type="submit" name="logout">Log out</button>
</form>


<ul id="messages">
  {{#each users as |user|}}
    <li>{{user}}: {{lookup ../messages @index}}</li>
  {{/each}}
</ul>
<form class="form" action="">
  <input class="inp" id="m" autocomplete="off" /><button>Send</button>
</form>
